.container {
    background-color: white;
}

.header {
    background-color: crimson;
}

.logo {
    width: 300px;
    height: auto;
}

.slide {
    margin-bottom: 30px;
}

.noi-dung {
    border-top: 2px solid crimson;
}

.footer {
    padding: 30px;
}